
Reto2/Solucion/srv_1/monedas_pb2.py
Reto2/Solucion/srv_1/monedas_pb2.pyi
Reto2/Solucion/srv_1/monedas_pb2_grpc.py

Reto2/Solucion/API_Gateway/monedas_pb2.py
Reto2/Solucion/API_Gateway/monedas_pb2.pyi
Reto2/Solucion/API_Gateway/monedas_pb2_grpc.py

