srv_persistor/__pycache__/
srv_persistor/monedas_pb2.py
srv_persistor/monedas_pb2.pyi
srv_persistor/monedas_pb2_grpc.py

srv_reader/monedas_pb2.py
srv_reader/monedas_pb2.pyi
srv_reader/monedas_pb2_grpc.py
